In [ ]:
Introduction to python fundamentals

In [ ]:
Understanding the variables in python :

In [ ]:
a = 3

b = 2

In [10]:
c = a+b

print(c)

5

In [ ]:
# shift + enter button on the keyboard

In [ ]:
Rules for declaring the variables in python

In [ ]:
Rule No.1 : No Namespaces for declaring the variable names.

In [11]:
first name = "Faiyaz"

print(first name)

SyntaxError: invalid syntax (4051653174.py, line 1)

In [12]:
firstname = "Faiyaz"

print(firstname)

Faiyaz

In [ ]:
Rule No.2 : A variable name should not start with number

In [13]:
1name = "David"

print(1name)

SyntaxError: invalid decimal literal (2603295238.py, line 1)

In [14]:
name1 = "David"

print(name1)

David

In [ ]:
# shift + enter

In [ ]:
Rule No.3 : A variable name should not contain any special characters

In [15]:
name@ = "Salman"

print(name@)

SyntaxError: invalid syntax (3777688959.py, line 1)

In [ ]:
@ # $ % ! & *

In [ ]:
Introduction to datatypes in python :

In [ ]:
1. String ========> str

In [ ]:
2. Numbers ====> integers --- int, floats( decimals) ----> 0.1, 0.2, 0.3

In [ ]:
3. List =======> list

In [ ]:
4. tuples =====> tuple

In [ ]:
5. Dictionaries ==> dict

In [ ]:
Classification of datatypes :

Datatypes broadly classified into two catagories

1. Mutable datatypes ----> which we can be able to edit/alter
2. Immutable datatypes ---> which we cannot be able to edit/alter

In [ ]:
intoduction to string datatype :

In [ ]:
defination: A string is a series of characters declared in quotes

classification: it is classified as an immutable datatype

how to declare the string ====>

1. single quote
2. double quote

In [16]:
name = 'mahesh'     #single quote

print(name)

mahesh

In [17]:
name2 = "dinesh"   #double quote

print(name2)

dinesh